/* ================global styles============== */
html {
    font-size: 16px;
    font-family: inter;
}

div:empty {
    display: block !important;
}

* {
    font-family: inter;
    color: #4d4a47;
}

.text-xsm {
    font-size: 13px;
}

.text-small {
    font-size: 14px;
}


.text-greay {
    color: #4d4a47;
}

.kd-orange-btn {
    background-color: #EBBD6F;
    color: #4d4a47;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}


.blue-btn {
    padding: 12px 25px;
    color: #4d4a47;
    background-color: #A7B9BD;
    border-radius: 8px;
    text-decoration: none;
}

.form-control,
.btn {
    padding: 10px 30px !important;
    font-size: 14px !important;
}

html body h2 {
    font-size: 50px;
    margin-bottom: 30px;
    line-height: 1;
}

html body .shopify-payment-button__button--unbranded{
    background-color: #5B9798;
    border: 1px solid #5B9798;
    border-radius: 10px;
}

html body .shopify-payment-button__button--unbranded:hover{
    background-color: black;
    border-color: black;
}

html body .button , html body .button{
    border-radius: 10px;
}

html body .product-form__submit.button , html body .product-form__submit.button{
    border: 1px solid #5B9798;
}


html body .product-form__submit.button:before , html body .product-form__submit.button:after , html body .shopify-payment-button__button--unbranded:before , html body .shopify-payment-button__button--unbranded:after{
    display: none
}

/* =================header=============== */

.main-logo {
    width: 90px;
}

.upper-header p {
    font-size: 14px;
}

.bottom-header{
    background: #fff3df;
}

.kd-header{
    margin-bottom: 20px;
}

@media(max-width : 767px) {
    .main-logo {
        width: 80px;
    }

    .kd-header{
        margin-bottom: 0px;
    }
}

/* ============footer============== */

/* ==============main slider=============== */

/* Full-width container */
.kd-main-slider-container {
    width: 100%;
    max-width: 100vw;
    /* Adjust based on your design */
    margin: auto;
    overflow: hidden;
}

/* Slide Styling */
.kd-main-slider-container .swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-size: cover;
    background-position: center;
    border-radius: 10px;
}

/* Adjust slide size */
.kd-main-slider-container .slide-inner {
    width: 100%;
    min-height: 650px;
    background-size: cover;
    background-position: center;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: relative;
}

.kd-slide-overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #00000061;
    border-radius: 20px;
}

/* Navigation Buttons */
html body .swiper-button-prev,
html body .swiper-button-next {
    color: #fff !important;
    background: #0000004d;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    font-size: 20px;
    display: flex !important;
    justify-content: center;
    align-items: center;
}

.swiper-button-prev:after,
.swiper-button-next:after {
    font-size: 25px;
}

.swiper-button-prev:hover,
.swiper-button-next:hover {
    background: rgba(0, 0, 0, 0.5);
}

/* Pagination */
.kd-main-slider-container .swiper-pagination-bullet {
    background: #fff;
    opacity: 0.7;
}

.kd-main-slider-container .swiper-pagination-bullet-active {
    background: #000;
    opacity: 1;
}

.kd-single-slide .slide-content {
    padding: 0 60px;
    text-align: left;
    color: white;
    z-index: 2;
    position: relative;
    max-width: 40%;
}

.kd-single-slide .subtitle {
    color: white;
}

.kd-single-slide .main-title {
    font-size: 60px;
    font-weight: bold;
    color: white;
    line-height: 1;
}

.kd-single-slide .description {
    color: white;
}

.kd-single-slide .slider-btn {
    background: #5B9798;
    color: white;
    text-transform: uppercase;
    padding: 10px 45px !important;
    border-radius: 10px;
}

/* ==============main slider=============== */

/* ====================collections carousel================ */

.kd-collection-carousel-container {
    width: 100%;
    max-width: 1200px;
    margin: auto;
    padding: 60px 20px;
}

.kd-collection-swiper {
    padding: 0 70px;
}

.kd-collection-swiper .kd-collection-slide {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.kd-collection-image {
    width: 100%;
    height: auto;
    max-width: 250px;
    border-radius: 10px;
    transition: transform 0.3s ease-in-out;
}

.kd-collection-image:hover {
    transform: scale(1.05);
}

.kd-collection-title {
    margin-top: 10px;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    font-family: inter;
}

.kd-collection-swiper-next,
.kd-collection-swiper-prev {
    color: #000;
    background: rgba(0, 0, 0, 0.2);
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.kd-collection-swiper-next:hover,
.kd-collection-swiper-prev:hover {
    background: rgba(0, 0, 0, 0.5);
}

.kd-collection-swiper-pagination {
    position: absolute;
    bottom: 10px;
}

.kd-collection-link {
    text-decoration: none;
    color: inherit;
}

/* ====================collections carousel================ */

/* ============two columns featured collections============ */

.kd-2-feature-cols-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
}

.kd-2-feature-cols-wrapper {
    display: flex;
    width: 90%;
    max-width: 100vw;
    column-gap: 20px;
}

.kd-2-feature-cols-item {
    width: 50%;
    height: 580px;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    padding: 30px;
    position: relative;
    position: relative;
}

.kd-sale-badge{
    position: absolute;
    right: 0;
    top: -70px;
}

.kd-2-feature-cols-content {
    /* background: rgba(0, 0, 0, 0.6); */
    color: #fff;
    padding: 20px;
    border-radius: 5px;
    text-align: right;
}

.kd-2-feature-cols-title {
    font-size: 45px;
    font-weight: bold;
    margin-bottom: 10px;
}

.kd-2-feature-cols-btn {
    display: inline-block;
    padding: 10px 35px;
    border-radius: 10px;
    background: #fff;
    color: #000;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    transition: background 0.3s ease-in-out;
}

.kd-2-feature-cols-btn:hover {
    background: #f2f2f2;
}

.kd-2-feature-cols-link {
    text-decoration: none;
    color: inherit;
}

/* ============two columns featured collections============ */

/* ====================products carousel============== */


.kd-prods-car-container {
    width: 100%;
    /* max-width: 1200px; */
    margin: auto;
    padding: 60px 20px;
    text-align: center;
}

/* .kd-prods-car-swiper{
    padding: 0 70px;
} */


.kd-prods-car-title {
    font-size: 50px;
    line-height: 1;
    /* font-weight: bold; */
    margin-bottom: 30px;
}

.kd-prods-car-single-title {
    font-size: 18px;
    margin-top: 20px;
}

.kd-prods-car-item {
    /* padding: 10px; */
    /* border: 1px solid #ccc; */
    /* border-radius: 10px; */
    text-align: center;
    background: #fff;
    position: relative;
    box-sizing: border-box;
}

.kd-prods-car-image-wrapper {
    border: 1px solid #ccc;
    padding: 15px;
    position: relative;
    width: 100%;
    border-radius: 10px
}

.kd-prods-car-image {
    width: 100%;
    /* border-radius: 10px; */
}

.kd-prods-car-favorite-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    cursor: pointer;
}

.kd-prods-car-heart {
    stroke: #333;
    width: 24px;
    height: 24px;
    transition: fill 0.3s, stroke 0.3s;
}

.kd-prods-car-favorite-btn.active .kd-prods-car-heart {
    fill: red;
    stroke: red;
}

.kd-prods-car-price {
    font-size: 16px;
    color: #555;
    margin-bottom: 10px;
}

.kd-prods-car-btn {
    padding: 8px 15px;
    background: #5b9798;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    border-radius: 8px;
    transition: background 0.3s;
    height: 30px;
    min-width: 120px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.kd-prods-car-btn:hover {
    background: #333;
}

/* ====================products carousel============== */

/* ===================instagram cta====================== */
.kd-insta-cta-wrapper{
    width: 90vw;
    margin: auto;
}

.kd-insta-main-img{
    width: 100%;
}

.kd-insta-content{
    padding: 50px 30px;
    background: #eaf1ef;
    margin-left: -146px;
    border-radius: 15px;
}

.kd-insta-btn{
    max-width: 200px;
    margin: auto;
}


/* ===================instagram cta====================== */

/* =====================right side image cta============ */
.kd-right-cta-wrapper{
    width: 90vw;
    margin: auto;
}

.kd-right-main-img{
    width: 100%;
}

.kd-right-cta-content{
    padding: 50px 30px;
    background: #eaf1ef;
    margin-right: -146px;
    border-radius: 15px;
    z-index: 2;
    position: relative !important;
}

/* =====================right side image cta============ */



/* =========================single product============== */

.kd-products-wrapper {
    max-width: 80%; 
}

.kd-product-media-list .product-media-container {
    width: 100% !important;
}

.kd-recomandations-wrapper{
    margin-top: 40px;
    padding: 20px;
    background: #eaf1ef !important;
}

.kd-related-prods-title{
    font-size: 45px !important;
    text-align: center;
}

.kd-single-prod-card{
    background: transparent;
    border: none !important;
}

.kd-card-media-wrapper{
    border: 1px solid #ccc;
    border-radius: 12px;
    overflow: hidden;
}

.kd-single-prod-card .card__heading{
    text-align: center !important;
}

.kd-single-prod-card .card__heading a{
    font-size: 20px !important;
}

.kd-single-prod-card .card-information{
    text-align: center !important; 
}

/* =========================single product============== */


/* ====================collections======================== */
.kd-collections-banner{
    background: #eaf1ef !important;
    min-height: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.kd-collections-banner .collection-hero__inner {
    width: 100%;
    text-align: center;
}   

.kd-collection-main-title{
    margin: 0 !important;
    font-size: 45px;
    font-weight: 400;
}

.kd-collection-description p{
    font-size: 14px;
    color: black; 
}

.kd-collection-products-container .collection {
    /* width: 80%; */
    padding: 40px 20px;
}

.kd-collection-product-grid-ul li{
    padding: 12px;
}


/* ====================size guide================ */
.kd-size-guide-wrapper{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #00000060;
    align-items: center;
    justify-content: center;
    z-index: 125;
    display: none;
}

.kd-size-guide-wrapper.active{
    display: flex;
}

.size-guide-inner{
    max-width: 500px;
    padding: 30px;
    background-color: white;
    text-align: center;
    position: relative;
    width: 100%;
}

.size-guide-inner h3{
    margin: 30px 0;
    font-size: 30px;
}

.close-size-guide{
    position: absolute;
    right: -15px;
    top: -50px;
    font-size: 35px;
    color: #fff;
    text-decoration: none;
}

.kd-product-size-chart-btn{
    padding: 10px 20px;
    background: #ebbd6f;
    display: block;
    border-radius: 10px;
    margin-top: 10px;
    text-align: center;
    color: white;
    text-decoration: none;
}


/* =================page banner======================== */

.kd-page-banner{
    background: #eaf1ef !important;
    min-height: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100vw !important
}

/* ==============page banner */

.pagination__list{
    min-width: 300px;
}



/* =========================================================================== */
/* ===========================mobile breakpoint=============================== */
/* =========================================================================== */

@media(max-width : 767px) {

    /* =====================global styles============= */

    html body h2 {
        font-size: 35px;
        margin-bottom: 30px;
        line-height: 1;
    }

    /* =====================global styles============= */

    /* =======================main slider area============== */

    .kd-main-slider-container .slide-inner {
        min-height: 480px;
        border-radius: 0;
    }

    .kd-slide-overlay {
        border-radius: 0;
    }

    .kd-single-slide .slide-content {
        padding: 0 40px;
        max-width: 100%;
    }

    .kd-single-slide .main-title {
        font-size: 40px;
        line-height: 38px;
        font-weight: 700;
        color: #fff;
    }

    .swiper-button-prev,
    .swiper-button-next {
        width: 35px;
        height: 35px;
    }

    .swiper-button-prev {
        left: 0;
    }

    .swiper-button-next {
        right: 0;
    }

    .swiper-button-prev:after,
    .swiper-button-next:after {
        font-size: 20px;
    }


    /* =======================main slider area============== */



    /* ====================collections carousel================ */

    .kd-collection-swiper {
        padding: 0;
    }

    /* ====================collections carousel================ */

    /* =====================two columns section================== */

    .kd-2-feature-cols-wrapper{
        flex-flow: column;
        row-gap: 20px;
    }

    .kd-2-feature-cols-item{
        height: 400px;
        padding: 20px;
        width: 100%;
    }

    .kd-2-feature-cols-title{
        font-size: 30px;
        line-height: 30px;
    }

    .kd-sale-badge{
        position: absolute;
        right: 0;
        top: 0px;
        width: 100px;
    }

    /* =====================two columns section================== */

    /* =====================products carousel========== */

    .kd-prods-car-title{
        font-size: 32px;
        line-height: 32px;
    }
    .kd-prods-car-swiper {
        padding: 0;
    }

    /* =====================products carousel========== */

    /* ===================instagram cta====================== */
.kd-insta-cta-wrapper{
    width: 100vw;
    margin: auto;
}

.kd-insta-main-img{
    width: 100%;
}

.kd-insta-content{
    padding: 50px 30px;
    background: #eaf1ef;
    margin-left: 0;
    border-radius: 15px;
    width: 80%;
    margin: auto;
    margin-top: -100px;
}


/* ===================instagram cta====================== */

/* =====================right side image cta============ */
.kd-right-cta-wrapper{
    width: 100vw;
    margin: auto;
}

.kd-right-main-img{
    width: 100%;
}

.kd-right-cta-content{
    padding: 50px 30px;
    background: #eaf1ef;
    margin-right: 0px;
    border-radius: 15px;
    z-index: 2;
    width: 80%;
    margin: auto;
    margin-bottom: -100px;
}

/* =====================right side image cta============ */


    /* =========================single product============== */

    .kd-products-wrapper {
        max-width: 100%;
    }

    .kd-products-wrapper .product{
        overflow: hidden !important;
    }

    .kd-recomandations-wrapper{
        margin-top: 30px;
        padding: 20px;
        background: #eaf1ef;
    }

    .kd-related-prods-title{
        font-size: 30px !important;
    }


    /* =========================single product============== */

    /* ==============collections page===================== */
    .kd-collection-products-container .collection {
        width: 100%;
        padding: 40px 20px;
    }
    
    .kd-collection-product-grid-ul li{
        padding: 12px;
    }

    /* ==============collections page===================== */

    /* ==============size guide=========================== */
    .close-size-guide{
        right: 10px;
        top: -60px;
    }
    /* ==============size guide=========================== */
}